* {
  text-align: center;
}
h1 {
  color: darkred;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 30px;
}
.tablo {
  border: 4px solid rgb(92, 8, 8);
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  border: 4px solid rgb(92, 8, 8);
}

th {
  background-color: rgb(199, 190, 190);
}
td {
  background-color: bisque;
}
td:hover {
  background-color: aqua;
}
td:nth-child(odd){
 background-color: darkmagenta;
}